<div id="container">
  <div class="container">
    <div clss="row">
      <div class= "col-sm-3">
        <%= render partial: 'merchant/shared/seller' %>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <h2> UPDATE REASON FOR RETURN </h2>
          <%= render partial: 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
